
.container{
    max-width: 1100px;
}
p{
  font-family: 'montserrat' sans-serif;
}
h1{
  color: #000;
}
/*Media Query for mobile*/
@media (max-width: 760px){
  header {
  background-image: url(/Assets/img/fondo1.jpg);
  height: 300px!important;
  background-size: cover;
  }
  .titulo {
    letter-spacing: 0px!important;
    padding-left: 30px;
    font-size: 30px!important;
  }
  .col {
    background-color: #000;
    flex: 1 0 0%;
  }
  .col-md-5 {
    margin-top: -50px!important;
}
}
header{
    background-image: url("/Assets/img/fondo1.jpg");
    height: 700px;
}
main{
  font-family: 'Michroma', sans-serif!important;
  padding-top: 10px;
  color: #fff;
  background-color: #060A15;
  height: 700px;
  background-size: cover;

}
.btn-primary:hover{
    border: 1px solid #802B2D!important ;
    background-color: #802B2D!important;
    color: #fff!important;
    justify-content: center;
}
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #FFF!important;
    border-radius: 0px!important;
}
.titulo{
    letter-spacing: 10px ;
    visibility: visible; 
    animation-delay: 0.1s; 
    animation-name: fadeInRight; 
    text-align: left!important;
    padding-left: 30px; 
    margin-bottom: 5px;
    text-align: center;
    color: #802B2D;
    font-size: 80px;
    font-family: 'Silkscreen';
    margin-top: 50px!important;
}
.navbar-brand{
    max-height: 80px;
}
.bg-dark {
    background-color: transparent!important;
}
.logo{
    width: 100px;
}
.inventario-container {
    margin-top: 70px;
    max-height: 400px;  
    padding-top:500px;
    min-width: 500px;
    user-select: none;
    border: 2px solid #BC5D2E;
    background-color: white;
    margin-bottom: 10px;
  }
  .create-inventario-button {
      margin-top: 10px;
      max-width: 300px;
      justify-content: center;
      align-items: center;
      margin: auto;
      place-items: center;
  }
.modal-content{
    background-color: transparent!important;
    color: white;
}
.modal-body {
    border: 1px solid white;
    position: relative;
    flex: 1 1 auto;
    margin: 5px;
    border-radius: 0px;
    background: transparent;
    }
.modal-header {
  border-bottom: 1px solid #eeeeee;
}

.modal-header{
  background-color: transparent;
  color: #1a1a1a;
}
.modal-footer{
  background-color: transparent;
  justify-content: center!important;
}
.close{
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
}
.close:hover{
  border-color: #000;
  background-color: #000;
  color:#fff;
} 
.rowFicha1{
  background-color: #121124;
}
.iconos{
  max-width: 200px;
  margin-top: 50px;
}
.titulo1{
  font-family: 'Silkscreen'!important;
  color: #fff;

}
.planeta{
  margin-right: 1000px;
}
.col-md-5{
  margin-top: 150px;
}
.text-center{
  line-height: 20px;
  border-color: solid 2px #802B2D!important;
}
#Principio{
  background-color: #fff;
  color:#000;
  line-height: 40px;
  text-align: center;
  font-size: 30px;
  border-color: solid 2px #802B2D!important;
}
/*Contenedor Cratas*/
.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
ul{
margin:0;
padding:0;
list-style:none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
display: block;
padding-top: 60px;
padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner{ 
   border:1px solid #999999; 
 text-align:center; 
 margin-bottom:28px; 
 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  border: 0;
}
.practice-area .inner h3{ 
  color:#3c3c3c; 
font-size:24px; 
font-weight:500;
font-family: 'Poppins', sans-serif;
padding: 10px 0;
}
.practice-area .inner p{ 
  font-size:14px; 
line-height:22px; 
font-weight:400;
}
.practice-area .inner img{
display:inline-block;
}


.our-webcoderskull{
background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;

}
.our-webcoderskull .cnt-block{ 
 float:left; 
 width:100%; 
 background:#fff; 
 padding:30px 20px; 
 text-align:center; 
 border:2px solid #d5d5d5;
 margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
 width:148px; 
 height:148px; 
 border-radius:100%; 
 display:inline-block;
 margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
 width:148px; 
 height:148px; 
 border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
 color:#2a2a2a; 
 font-size:20px; 
 font-weight:500; 
 padding:6px 0;
 text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
text-decoration:none;
color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
 color:#2a2a2a; 
 font-size:13px; 
 line-height:20px; 
 font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
  display:inline-block; 
width:auto; 
margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
 font-size:24px; 
 color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
 color:#025a8e;
}
/*CONTACT FORM CSS*/
.contact-us {
	padding: 50px;
    background-color: #ffffff;
    box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 7px #4c9cef;
    border-left-color: #802B2D;
    border-right-color: #802B2D;
}

.contact-us-detail {
    display: none;
    position: absolute;
    left: 83%;
    top: -4%;
    background-color: #4c9cef;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
}

.contact-us-detail:hover {
	background-color: #f7639a;
}

.contact-us-detail a {
	color: #ffffff;
}

.contact-us-detail a:hover {
	color: #ffffff;
}

.form-group {
	margin-bottom: 25px;
}

.form-control {
	border: 2px solid transparent;
	height: 50px;
	border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	   -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	    -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		 -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition:all 150ms ease-in-out 0s;
	   -moz-transition:all 150ms ease-in-out 0s;
	    -ms-transition:all 150ms ease-in-out 0s;
	     -o-transition:all 150ms ease-in-out 0s;
		    transition:all 150ms ease-in-out 0s;
}
.form-control:focus {
	border-color: #171717;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
		 -o-box-shadow: none;
			box-shadow: none;
}

.form-control:focus {
	border-color: #4c9cef;
	border-width: 2px;
}

.margin-top-bottom {
    margin-top: 100px;
    margin-bottom: 100px;
}

.custom-margin {
    margin-top: 80px;
}

.button {
	border: none;
	border-radius: 5px;
	font-family: inherit;
	font-size: 17px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 60px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-style {
	border: 3px solid #fff;
	color: #fff;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
	color: #ffffff;
	background: #4c9cef;
}

.button-style-color-2:hover,
.button-style-color-2:active,
.button-style-color-2:focus {
	color: #ffffff;
	background: #802B2D;
}

.button-style-dark {
	border: 3px solid #FFF;
	color: #FFF;
}

.pattern-bg {
	background: url(https://s23.postimg.org/klq72xovv/pattern_bg.png);
	background-repeat: repeat;
}
@media (max-width: 760px){
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  /* margin: auto; */
  /* margin-right: 50px!important; */
  padding: 20px 40px 20px 40px;
}
}
.border-bottom {
  border-bottom: 1px solid #802B2D!important;
}


